/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 454px 332px 240px;
  padding: 92px 24px 96px 24px;
}

.logo-black {
  display: block;
  height: 105px;
  width: 148px;
  justify-self: normal;
}

.menu__list {
  margin-top: 44px;
  margin-left: 26.5px;
  font-family: "Raleway", sans-serif;
  display: flex;
  gap: 32.3px;
  list-style: circle;
}

.menu__item {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  letter-spacing: 0.01em;
}

.menu__active {
  list-style: none;
}

.link__active {
  text-decoration: none;
}

/*Меню и все что его касается*/
.info__list {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.info__item {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  list-style: none;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.01em;
}

.address {
  font-style: normal;
}

/*Заголовок*/
.overlay {
  background-color: rgb(0 0 0/0.6);
}

.cover {
  box-sizing: border-box;
  background: url("../images/cover.jpg") center/cover;
  background-repeat: no-repeat;
}

.cover__title {
  padding: 165px 50px 0 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accent-span {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.3em;
  line-height: 1.15;
  font-size: 100px;
}

.text-center {
  align-self: center;
  line-height: 1;
}

.text-right {
  align-self: flex-end;
  line-height: 1;
}

.letter-space {
  letter-spacing: 0.6em;
}

.letter-space__null {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  padding: 135px 50px 51px 78px;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  color: #ffffff;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18.5px;
}

.cover__description-letter-80 {
  letter-spacing: 0.8em;
}

.cover__description-letter-90 {
  letter-spacing: 0.9em;
}

.cover__description-letter-110 {
  letter-spacing: 1.1em;
}

.bet-button {
  width: 256px;
  height: 51px;
  background: transparent;
  border: #ffffff 1px solid;
  font-family: "Raleway", sans-serif;
}

.bet-button__text {
  color: #ffffff;
  font-weight: 500;
  line-height: 25.83px;
  font-size: 22px;
}

/*Лоты и все что его касается*/
.lots {
  padding: 179px 24px 146px 24px;
}

.lots__heading {
  padding-left: 40px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  color: #000;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 30px;
}

.card-link {
  text-decoration: none;
}

.lots__card-list-item {
  padding: 51px 40px 48px 40px;
  min-height: 563px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) center/cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) center/cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) center/cover;
}

.card__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.card__text .card__text-span {
  letter-spacing: 0.13em;
}

.lots__look-more-link {
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-decoration: underline;
}

.card__link {
  height: 100%;
  display: block;
}

.about {
  padding: 0 24px 180px 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 359px auto;
}

.about__logo {
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  height: 240px;
  width: 240px;
  background-color: #000;
}

.about__logo-image {
  display: block;
  margin: auto;
  margin-top: 64px;
  width: 148px;
}

.about__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  margin-top: 136px;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  gap: 24px;
  flex-direction: column;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.footer {
  padding: 0 50px 88px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-menu .menu__item {
  list-style: none;
}

.footer-menu {
  flex-direction: column;
  gap: 0;
  align-items: center;
  margin: 0;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
}

.footer__social-list-item {
  display: block;
  width: 48px;
}
